<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input #email="ngModel" class="form-control" id="email" type="email" name="email" [(ngModel)]="model.email">
    <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
      Password is not valid.
    </div>
  </div>
  <div class="form-group">
    <label for="subscription">Subscription</label>
    <select class="form-control" id="subscription" name="subscription" [(ngModel)]="model.subscription" >
      <option *ngFor="let subPlan of subscriptions;" [value]="subPlan" >{{subPlan}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input #password="ngModel" class="form-control" id="password" type="password" name="password" required [(ngModel)]="model.password">
    <div *ngIf="!password.valid && password.touched" class="alert alert-danger">
      Password is not valid.
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
  <div *ngIf="!form.valid && form.touched" class="alert alert-danger">
    Form is not valid.
  </div>
</form>
<div *ngIf="this.isSubmitted">
  <h3>Data submitted: </h3>
  <div class="row">
    <div class="col-xs-3">Email: </div>
    <div class="col-xs-9">{{ model.email }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Subscription: </div>
    <div class="col-xs-9">{{ model.subscription }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Password: </div>
    <div class="col-xs-9">{{ model.password }}</div>
  </div>
</div>
